section.edit {
  padding-bottom: 2%;
}
section.edit .edit-header {
  width: 100%;
  border: 1px solid #d4d4d4;
  background-color: #ffffff;
  border-radius: 2px;
}
section.edit .edit-header .menu {
  display: inline-block;
  padding: 1% 2% 1% 2%;
}
section.edit .edit-header .menu img {
  display: inline-block;
}
section.edit .edit-header .menu a {
  padding: 5px 10px;
  display: inline-block;
  color: #000000;
  text-decoration: none;
}
section.edit .edit-header .menu a.username {
  padding: 5px 8px;
}
section.edit .edit-header .menu a:hover {
  color: #0019b6;
}
section.edit .edit-header .menu a.nav-general_settings {
  display: none;
}
section.edit .edit-menu {
  background-color: #ffffff;
  border: 1px solid #d4d4d4;
  border-radius: 2px;
  width: 100%;
}
section.edit .edit-menu .menu ul li.active a {
  background-color: rgba(18, 76, 233, 0.8);
  color: #ffffff;
  border-radius: 0;
}
section.edit .edit-content {
  width: 100%;
  margin-top: 2%;
  background-color: #ffffff;
  border: 1px solid #d4d4d4;
  border-radius: 2px;
}
section.edit .edit-content form.basic_info_form {
  padding: 2%;
  width: 100%;
  text-align: center;
}
section.edit .edit-content form.basic_info_form .edit-form {
  width: 100%;
  margin: 1% 0;
}
section.edit .edit-content form.basic_info_form .edit-form:last-child {
  width: 50%;
  padding-left: 35%;
}
section.edit .edit-content form.basic_info_form .edit-form:last-child button {
  width: 100%;
  background-color: rgba(18, 76, 233, 0.9);
  border: none;
  color: #ffffff;
}
section.edit .edit-content form.basic_info_form .edit-form:last-child button:hover {
  background-color: #013bd8;
}
section.edit .edit-content form.basic_info_form .edit-form #edit_prg_lang {
  width: 50%;
  padding-top: 2%;
}
section.edit .edit-content form.basic_info_form .edit-form #edit_prg_lang_chosen {
  border: none;
}
section.edit .edit-content form.basic_info_form .edit-form #edit_prg_lang_chosen input {
  padding: 4% 0 0 3%;
}
section.edit .edit-content form.basic_info_form .edit-form #edit_prg_lang_chosen .chosen-choices {
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 34px;
  position: relative;
  right: 2px;
}
section.edit .edit-content form.basic_info_form .edit-form #edit_prg_lang_chosen .chosen-choices .search-choice {
  margin: 6px 5px 3px 0;
}
section.edit .edit-content form.basic_info_form .edit-form #edit_prg_lang_chosen .chosen-drop .active-result,
section.edit .edit-content form.basic_info_form .edit-form #edit_prg_lang_chosen .chosen-drop .result-selected {
  text-align: left;
}
section.edit .edit-content form.basic_info_form .edit-form input {
  width: 50%;
  display: inline-block;
}
section.edit .edit-content form.basic_info_form .edit-form select {
  width: 50%;
  height: 34px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 4px 10px;
  position: relative;
  right: 2px;
}
section.edit .edit-content form.basic_info_form .edit-form label {
  width: 20%;
  text-align: left;
}
section.edit .edit-content .general_settings_form {
  display: none;
  padding: 3%;
  text-align: center;
}
section.edit .edit-content .general_settings_form .block {
  width: 80%;
  display: inline-flex;
}
section.edit .edit-content .general_settings_form .block .settings_label {
  width: 35%;
  padding-left: 20%;
  text-align: left;
}
section.edit .edit-content .general_settings_form .block .settings_value {
  width: 35%;
}
section.edit .edit-content .general_settings_form .block .settings_value input {
  width: 100%;
  background-color: #fff;
  border: 1px solid #ddd;
  padding-left: 5%;
  margin-bottom: 4%;
}
section.edit .edit-content .general_settings_form .block .modal_change {
  width: 20%;
  text-align: left;
  font-size: 13px;
  padding-left: 3%;
}
section.edit .edit-content .general_settings_form .block:last-child {
  padding-left: 38%;
  width: 65%;
}
section.edit .edit-content .general_settings_form .block:last-child button {
  width: 40%;
  background-color: rgba(18, 76, 233, 0.9);
  border: none;
  color: #ffffff;
}
section.edit .edit-content .general_settings_form .block:last-child button:hover {
  background-color: #013bd8;
}
section.edit .edit-content .modal {
  z-index: 900;
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: #000000;
  background: rgba(0, 0, 0, 0.8);
  overflow: auto;
}
section.edit .edit-content .modal .modal-box {
  z-index: 900;
  position: relative;
  max-width: 50%;
  margin: 10% auto;
  animation-name: modalbox;
  animation-duration: .3s;
  animation-timing-function: ease-out;
}
section.edit .edit-content .modal .modal-box .modal-header {
  padding: 0 20px;
  background: #124CE9;
  color: #ffffff;
}
section.edit .edit-content .modal .modal-box .modal-header p {
  font-size: 18px;
  padding: 1%;
  margin: 0;
}
section.edit .edit-content .modal .modal-box .modal-header .close-modal {
  float: right;
  position: relative;
  cursor: pointer;
  width: 4px;
  top: 7px;
}
section.edit .edit-content .modal .modal-box .modal-body {
  background: #ECEFF1;
  padding: 0;
}
section.edit .edit-content .modal .modal-box .modal-body .jcrop-holder {
  margin: 0 auto;
}
section.edit .edit-content .modal .modal-box .modal-body form .form-group {
  padding: 0 22% ;
  display: inline-flex;
  width: 100%;
}
section.edit .edit-content .modal .modal-box .modal-body form .form-group input {
  width: 57%;
}
section.edit .edit-content .modal .modal-box .modal-body form .form-group label {
  width: 40%;
  position: relative;
  top: 7px;
}
section.edit .edit-content .modal .modal-box .modal-body form .form-group button {
  width: 25%;
  margin: 2% 2%;
  background-color: rgba(18, 76, 233, 0.9);
  border: none;
  color: #ffffff;
}
section.edit .edit-content .modal .modal-box .modal-body form .form-group button:hover {
  background-color: #013bd8;
}
section.edit .edit-content .modal .modal-box .modal-body form .form-group:last-child {
  border-top: 1px solid;
  text-align: center;
  display: block;
}
section.edit .edit-content .modal .modal-box .modal-body .info {
  width: 100%;
  padding: 1% 5% 3% 5%;
  font-size: 12px;
}
/*--- (media) Responsive style -----------------------*/
@media (max-width: 990px) {
  section.edit .edit-content .general_settings_form .block .settings_label {
    width: 25%;
    padding-left: 0;
    text-align: left;
  }
  section.edit .edit-content .general_settings_form .block .settings_value {
    width: 55%;
  }
  section.edit .edit-content .general_settings_form .block:last-child {
    padding-left: 57%;
    width: 100%;
  }
  section.edit .edit-content .modal .modal-box {
    margin: 15% auto;
  }
  section.edit .edit-content .modal .modal-box .modal-body form .form-group {
    padding: 0 5%;
  }
  section.edit .edit-content .modal .modal-box .modal-body form .form-group input {
    width: 50%;
  }
  section.edit .edit-content .modal .modal-box .modal-body form .form-group label {
    width: 50%;
  }
  section.edit .edit-content .modal .modal-box .modal-body form .form-group button {
    width: 25%;
    margin: 2% 2%;
  }
}
@media (max-width: 768px) {
  section.edit .edit-content form.basic_info_form .edit-form label {
    width: 30%;
  }
  section.edit .edit-content form.basic_info_form .edit-form:last-child {
    padding-left: 40%;
    width: 60%;
  }
  section.edit .edit-content .modal .modal-box {
    max-width: 70%;
  }
}
@media (max-width: 620px) {
  .custom-col-menu {
    width: 100%;
  }
  .custom-col-edit-panel {
    width: 100%;
    margin-top: 2%;
  }
  section.edit .edit-content .modal .modal-box {
    max-width: 90%;
  }
}
@media (max-width: 480px) {
  .custom-col-menu {
    width: 100%;
  }
  .custom-col-edit-panel {
    width: 100%;
  }
}
@media (max-width: 340px) {
  .custom-col-menu {
    width: 100%;
  }
  .custom-col-edit-panel {
    width: 100%;
  }
  section.edit .edit-content form.basic_info_form .edit-form:last-child {
    padding-left: 35%;
  }
  section.edit .edit-content form.basic_info_form .edit-form input {
    width: 60%;
  }
  section.edit .edit-content form.basic_info_form .edit-form select {
    width: 60%;
  }
  section.edit .edit-content .modal .modal-box {
    margin: 20% auto;
  }
  section.edit .edit-content .modal .modal-box .modal-body form .form-group {
    padding: 0 5%;
  }
  section.edit .edit-content .modal .modal-box .modal-body form .form-group label {
    display: none;
  }
  section.edit .edit-content .modal .modal-box .modal-body form .form-group input {
    width: 100%;
  }
}
/*--- END (media) Responsive style -----------------------*/
