* {
  box-sizing: border-box;
}
<<<<<<< HEAD
body {
  font-family: 'Ubuntu', 'Open sans', sans-serif;
  background-color: #F5F6FA;
}
hr {
  width: 100%;
  margin: 0;
  padding: 0;
=======
hr {
  width: 100%;
>>>>>>> 405696bde06d631e08e73d465e6bbc611b7e8f18
}
header {
  height: 52px;
}
header .nav-menu {
  min-height: 35px;
  border-radius: 0;
  position: fixed;
  top: 0;
  left: -2%;
  width: 104%;
  z-index: 1024;
}
header .nav-menu .navbar {
  padding-right: 10%;
  padding-left: 10%;
  background-color: #8A25E9;
  border-color: #5700b6;
}
header .nav-menu .navbar .navbar-header .navbar-brand {
  margin: 0;
  padding: 5px;
  height: auto;
  width: 100px;
}
header .nav-menu .navbar .navbar-header .navbar-brand .logotype {
  margin: 0;
  padding-top: 3px;
<<<<<<< HEAD
  padding-left: 0;
=======
  padding-left: 0px;
>>>>>>> 405696bde06d631e08e73d465e6bbc611b7e8f18
  width: 60%;
  height: auto;
}
header .nav-menu .navbar .navbar-collapse .nav a {
  color: #ffffff;
  background-color: #8A25E9;
}
header .nav-menu .navbar .navbar-collapse .nav a:hover {
  background-color: #6803c7;
  color: #ffffff;
}
header .nav-menu .navbar .navbar-collapse .nav ul {
  color: #ffffff;
  background-color: #8A25E9;
}
header .nav-menu .navbar .navbar-collapse .navbar-form button {
  background-color: #FFFFFF;
  color: #000000;
}
header .nav-menu .navbar .navbar-collapse .navbar-form button:hover {
<<<<<<< HEAD
  background-color: #eeeeee;
  color: #000000;
}
section.user_info {
  height: 700px;
}
section.user_info .profile_image {
  border: 1px solid #d4d4d4;
  border-radius: 2px;
  background-color: #ffffff;
}
section.user_info .profile_image .img {
=======
  background-color: #dddddd;
  color: #000000;
}
section.user_info {
  height: 5000px;
}
section.user_info .profile_image {
  border: 1px solid #e4cbcb;
}
section.user_info .profile_image .img {
  background-image: url('../img/Ivan_Loichuk_bg.jpg');
  width: 90%;
  height: 250px;
  background-position: center;
  background-size: cover;
  margin-left: 5%;
  margin-top: 5%;
>>>>>>> 405696bde06d631e08e73d465e6bbc611b7e8f18
  border-radius: 2px;
}
section.user_info .profile_image .img img {
  width: 100%;
  height: auto;
<<<<<<< HEAD
  padding: 5% 5% 5% 5%;
}
section.user_info .profile_image .change_photo {
  text-align: center;
  width: 100%;
  height: 43px;
}
section.user_info .profile_image .change_photo button {
  background-color: #8A25E9;
  border-radius: 2px;
  color: #ffffff;
  width: 90%;
}
section.user_info .profile_image .change_photo button:hover {
  background-color: #6803c7;
  color: #ffffff;
  text-decoration: none;
}
section.user_info .profile_image .change_photo .modal {
  z-index: 900;
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: #000000;
  background: rgba(0, 0, 0, 0.8);
  overflow: auto;
}
section.user_info .profile_image .change_photo .modal .modal-box {
  z-index: 900;
  position: relative;
  max-width: 900px;
  margin: 10% auto;
  animation-name: modalbox;
  animation-duration: .3s;
  animation-timing-function: ease-out;
}
section.user_info .profile_image .change_photo .modal .modal-box .modal-header {
  padding: 10px 20px;
  background: #8A25E9;
  color: #ffffff;
}
section.user_info .profile_image .change_photo .modal .modal-box .modal-header p {
  font-size: 24px;
  margin: 0;
}
section.user_info .profile_image .change_photo .modal .modal-box .modal-header .close-modal {
  float: right;
  cursor: pointer;
  width: 5px;
}
section.user_info .profile_image .change_photo .modal .modal-box .modal-body {
  background: #ECEFF1;
  padding: 20px 40px;
}
section.user_info .profile_image .change_photo .modal .modal-box .modal-body .jcrop-holder {
  margin: 0 auto;
}
section.user_info .profile_image .change_photo .modal .modal-box .modal-body form {
  text-align: center;
}
section.user_info .profile_image .change_photo .modal .modal-box .modal-body form input {
  margin-top: 3%;
  background-color: #FFFFFF;
  color: #000000;
}
section.user_info .profile_image .change_photo .modal .modal-box .modal-body form input:hover {
  background-color: #eeeeee;
}
section.user_info .profile_image .change_photo .modal .modal-box .modal-body form input[type=file] {
  display: inline;
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  cursor: inherit;
}
section.user_info .profile_image .change_photo .modal .modal-box .modal-body form .btn-file {
  position: relative;
  overflow: hidden;
  height: 34px;
  width: 15%;
  color: #000000;
  border-radius: 5px;
  background: #FFFFFF;
  line-height: 20px;
  margin-top: 3%;
}
section.user_info .profile_image .change_photo .modal .modal-box .modal-body form .btn-file:hover {
  background-color: #eeeeee;
}
@-webkit-keyframes modalbox {
  0% {
    top: -250px;
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}
@keyframes modalbox {
  0% {
    top: -250px;
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}
section.user_info .forum_box {
  width: 100%;
  border: 1px solid #d4d4d4;
  margin-top: 7%;
  background-color: #ffffff;
  margin-bottom: 7%;
}
section.user_info .forum_box ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
section.user_info .forum_box .forums li {
  padding: 2%;
}
section.user_info .forum_box .forums li.header p {
  text-align: center;
  font-size: 18px;
  margin: 0;
}
section.user_info .forum_box .forums .forum_posts li {
  border-top: 1px solid;
}
section.user_info .forum_box .forums .forum_posts .forum_post table {
  width: 100%;
}
section.user_info .forum_box .forums .forum_posts .forum_post table a img {
  padding-right: 15%;
  width: 100%;
}
section.user_info .forum_box .forums .forum_posts .forum_post table .title_block a {
  color: #000000;
  text-decoration: none;
}
section.user_info .forum_box .forums .forum_posts .forum_post table .title_block a:hover {
  text-decoration: none;
  color: #5700b6;
}
section.user_info .forum_box .forums .forum_posts .forum_post table .author_block a {
  color: #ed143d;
}
section.user_info .forum_box .forums .forum_posts .forum_post table .author_block a:hover {
  text-decoration: none;
  color: #a90000;
}
section.user_info .forum_box .forums .forum_posts .forum_post table .views_block {
  width: 35%;
}
section.user_info .forum_box .forums .forum_posts .forum_post table .views_block .views_label img {
  position: relative;
  bottom: 1px;
}
section.user_info .forum_box .forums .forum_posts .forum_post table .views_block .views_value {
  color: #0000ff;
}
section.user_info .forum_box .forums .forum_posts .forum_post table .date_block {
  text-align: end;
}
section.user_info .forum_box .forums .forum_posts .forum_post table .img_block {
  width: 25%;
}
section.user_info .page_info {
  position: relative;
  background: #ffffff;
  border-radius: 2px;
  box-shadow: 0 1px 0 0 #d4d4d4, 0 0 0 1px #d4d4d4;
}
section.user_info .page_info .page_top {
  height: 70px;
=======
  padding-left: 10%;
  padding-right: 10%;
}
section.user_info .profile_image .change_photo button {
  width: 90%;
  margin: 5% 0 5% 5%;
}
section.user_info .page_info {
  position: relative;
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
>>>>>>> 405696bde06d631e08e73d465e6bbc611b7e8f18
}
section.user_info .page_info .page_top .userName {
  font-size: 26px;
  float: left;
<<<<<<< HEAD
  width: 75%;
=======
  width: 50%;
>>>>>>> 405696bde06d631e08e73d465e6bbc611b7e8f18
  margin: 0;
  padding: 2% 2% 2% 5%;
}
section.user_info .page_info .page_top .isOnline {
  float: right;
  padding: 3% 3% 2% 2%;
  margin: 0 auto;
  color: #aba4a4;
}
<<<<<<< HEAD
section.user_info .page_info .separator {
  width: 100%;
  border-top: 1px solid #d4d4d4;
}
section.user_info .page_info .profile_info .profile_info_row {
  display: flex;
  padding: 1% 0 1% 5%;
}
section.user_info .page_info .profile_info .profile_info_row:first-child {
  padding-top: 2%;
}
section.user_info .page_info .profile_info .profile_info_row:last-child {
  padding-bottom: 2%;
}
section.user_info .page_info .profile_info .profile_info_row .label_info {
  font-size: 16px;
  width: 30%;
  color: #7d7d7d;
}
section.user_info .page_info .profile_info .profile_info_row .value {
  font-size: 16px;
  width: 50%;
  color: #000000;
}
section.user_info .page_info .profile_info .profile_info_row .edit_user_info {
  width: 20%;
  text-align: right;
  padding-right: 1%;
}
section.user_info .counts_module {
  border: 1px solid;
  margin-top: 2%;
  border-color: #d4d4d4;
  display: inline-flex;
  width: 100%;
  background-color: #ffffff;
}
section.user_info .counts_module .page_count {
  padding: 1% 2% 1% 2%;
  text-align: center;
  display: grid;
  border-right: 1px solid #d4d4d4;
  width: 20%;
}
section.user_info .counts_module .page_count:last-child {
  border: none;
}
section.user_info .counts_module .page_count a {
  color: #000000;
  font-size: 16px;
  text-decoration: none;
}
section.user_info .counts_module .page_count a:hover {
  color: #9f9f9f;
}
section.user_info .counts_module .page_count .value_module {
  color: #7d7d7d;
}
footer {
  height: 50px;
  background-color: #fff;
  border-top: 1px solid #888888;
  color: #000000;
}
footer .settings .list-gr,
footer .languages .list-gr {
  display: inline;
  padding: 10px 15px;
}
footer .settings ul,
footer .languages ul {
  padding: 15px 0 5px 0;
}
footer .settings ul li a,
footer .languages ul li a {
  color: #888888;
}
footer .settings ul li a:hover,
footer .languages ul li a:hover {
  color: #000000;
  text-decoration: none;
}
footer .copyright p {
  padding: 15px 5px 5px 15px;
}
/*--- (media) Responsive style -----------------------*/
@media (max-width: 1272px) {
  header {
    height: 102px;
  }
  section.user_info .profile_image .change_photo .modal .modal-box {
    margin: 15% auto;
=======
section.user_info .page_info .profile_info .profile_info_row {
  display: block;
}
@media (max-width: 1186px) {
  header {
    height: 102px;
  }
}
@media (max-width: 990px) {
  section.user_info .profile_image .img img {
    padding-left: 0;
    padding-right: 0;
>>>>>>> 405696bde06d631e08e73d465e6bbc611b7e8f18
  }
}
@media (max-width: 768px) {
  header {
    height: 52px;
  }
<<<<<<< HEAD
  .navbar-collapse ul,
  .navbar-collapse a {
    text-align: center;
  }
  .navbar-collapse .form-group {
    width: 75%;
    float: left;
    margin-right: 2%;
  }
}
@media (max-width: 620px) {
  .custom-col-image {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
  }
  .custom-col-info {
    width: 100%;
    margin-top: 5%;
  }
}
@media (max-width: 480px) {
=======
}
@media (max-width: 480px) {
  .custom-col-image {
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
  }
}
@media (max-width: 340px) {
>>>>>>> 405696bde06d631e08e73d465e6bbc611b7e8f18
  .custom-col-image {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }
<<<<<<< HEAD
  .custom-col-info {
    width: 100%;
  }
  .navbar-collapse .form-group {
    width: 100%;
  }
  .navbar-collapse button {
    width: 100%;
  }
}
@media (max-width: 340px) {
  .custom-col-image {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
  .custom-col-info {
    width: 100%;
  }
}
/*--- END (media) Responsive style -----------------------*/
=======
}
>>>>>>> 405696bde06d631e08e73d465e6bbc611b7e8f18
