*{

}
body{

}
.top{
	background-image: url("../img/bg.png");

	height: 100%;
}
.logotype{
	margin:0;
	padding:0;
	width: 80%;
	height: auto;

}
.navbar-brand{
	margin:0;
	padding:10px;
	height: 80px;
	width: 150px;
	
}
.navbar ul{
   text-align: center;
}

.navbar ul>li{
	padding: 15px 0;
}
.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-nav > li > a {
	color: white;
}
.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-nav > li > a:hover{
   color: #C34343;
}
.navbar-inverse{
	background-image: none;
	background-color: none;
	
}
.navbar-toggle{
	margin: 20px 20px;
	padding: 10px 10px;
}
.navbar-collapse {
	float: right;
	
}
@media (max-width: 768px) {
	.navbar-collapse{
		float: none;
		text-align: center;
	}
    
}

/* MAIN INFO */
.jumbotron{
	background-color: none;
	padding-left: 0;
	

}
.jumbotron h4{
   color: #008DD3;
   font-size: 14px;
   text-transform: uppercase;
}
.jumbotron h2{
	color: white;
	font-size: 48px;
}
.jumbotron h3{
	color: #7F7C76;
	font-size: 18px;
}
.jumbotron .button{
	margin-top: 8%;

}

.button{
	padding: 15px 40px;
	background-color: #008DD3;
	border: none;
}
.button:hover{
	
	background-color: #C24343;
	border: none;
}
.btn-primary:hover,
.btn-primary:focus {
  /*background-color: #265a88;*/
  background-position: 0 -55px;
}
.btn-signin{
	padding: 15px 60px;
	background-color: #008DD3;
	border: none;
	color: white;
}
.btn-signin:hover{
	 background-position: 0 -55px;
	 background-color: #C24343;
	 color: white;
}


.signin{
	background-color: rgba(255, 255, 255, 0.95);
	margin-top: 10%;
	margin-bottom: 45%;
}
.info{
	padding-top: 10px; 
	margin-right: 8%;
	margin-left: 8%;
}
.signin_form input{
    width: 100%;
    height: 50px;
    color: #333;
    font-size: 18px;
}
.signin_form{
	margin-top: 7%;
    margin-bottom: 7%;
    margin-left: 8%;
    margin-right: 8%;
}
form .btn-signin{
	padding-top: 15px;
    padding-bottom: 15px;
    margin-left: 8%;
    margin-right: 8%;
    margin-bottom: 20px;
}
form .btn-signin:focus,active{
  color: #fff;
  background-color: #286090;
  border: none;

}
form .btn-signin:hover{
	border: none;
}

/* registration form */ 

.registration-form {
	background-image: url("../img/TEEN.jpg");
	background-size: 100% 100%;
	background-position:  top;
	
}
 .signup_form input{
   width: 100%;
   color: #333;
   font-size: 18px;
   height: 40px;
   text-rendering: auto;
   letter-spacing: normal;
   word-spacing: normal;
   text-align: start;
}
.signup .signup_form{
	margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 10%;
    margin-right: 10%;


}

.signup{
	color: #fff;
	background-color: rgba(0,0,0, 0.5);
	margin-top: 10%;
	margin-bottom: 10%; 
}

.signup h2{
	padding-top: 20px;
	margin-right: 10%;
	margin-left: 10%;
}

.sex{
	margin-right: 10%;
	margin-left: 10%;

}
.sex input{
	margin-right: 20px;
}
.birthday{
	margin-right: 10%;
	margin-left: 10%;
}
.birthday input{
	margin:0;
	padding: 5px 10px;
	font-size: 16px;
	border: solid 1px #D9D9D9;
	border-radius: 4px; 
}
.signup .btn-signin{
    margin-left: 10%;
    margin-right: 10%;
   
}
/* About */
.about{
	height: 600px;
	background-color: #A7241C;
}


/* Footer */

footer {
	height: 50px;
}

footer .list-gr {
  display: inline;
  padding: 10px 15px;
}
footer p{
	padding: 10px 30px;

}
footer ul{
	padding: 10px 0;
}


/* RWD */  

@media (max-width: 986px) {

	.registration-form {
	background-image: url("../img/TEEN.jpg");
	background-size: 130% 100%;
	background-position:  top;
	
}
}

@media (max-width: 768px) {

	.registration-form {
	background-size: 220% 100%;
}
   .signup{
	background-color: rgba(0,0,0, 0.7);
}

}

