// all modules
@box_bg: #ffffff;
@font_label: #7d7d7d;
@font_value: #000000;
@box_border: #d4d4d4;

// main color
@navBar_bg:   #124CE9;  //#8A25E9;
@navBar_font: #ffffff;

// navigation
@navBar_bgButton: #FFFFFF;
@navBar_fontButton: #000000;

@navBar_border: @navBar_bg - #333333;
@navBar_bgHover: @navBar_bg - #222222;
@navBar_fontHover: @navBar_font + #222222;
@navBar_borderButton: @navBar_bg - #222222;
@navBar_bgHoverButton: @navBar_bgButton - #111111;

// profile page

@userInfo_fontLabel: @font_label;
@userInfo_fontValue: @font_value;
@userInfo_border: @box_border;

@userInfo_fontLabelHover: @userInfo_fontLabel + #222222;
@profile_buttonBg: fade(@navBar_bg, 90%);
@profile_buttonFont: @navBar_font;
@profile_buttonHover: @profile_buttonBg - #111111;

// forum box
@forum_font_author: #ed143d;
@forum_font_title: #000000;
@forum_font_views_value: #0000ff;
@forum_font_views_label: #7d7d7d;

@forum_font_title_hover: @navBar_border;
@forum_font_author_hover: @forum_font_author - #444444;

// search page
@search_border: @navBar_border;
@search_font_info: @font_label - #222222;
@search_fontHover_info: @font_value;

//friends page
@friends_activeBg: fade(@navBar_bg, 80%);
@friends_activeFont: @navBar_font;

// edit page
@edit_buttonBg: fade(@navBar_bg, 90%);
@edit_buttonFont: @navBar_font;
@edit_buttonHover: @edit_buttonBg - #111111;

